.container{
      height: 100%;
      width: 100vw;
      background-color: #b8f;
      padding: 20px;
}

.caja{
      height: 90px;
      width: 90px;
      background-color: brown;
      margin-bottom: 20px;
      position: relative;

      /*propiedades*/
      transition-property: left, background-color;
      transition-duration: 1s,2s;
      transition-delay: 0s;

      left: 0;


}



.container:hover > .caja:nth-child(1){
      background-color: rgb(41, 105, 107);
      left: 70%;
      
      transition-timing-function: linear
      
}


.container:hover > .caja:nth-child(2){
      background-color: rgb(41, 105, 107);
      left: 70%;
      
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275)
      
}


.container:hover > .caja:nth-child(3){
      background-color: rgb(41, 105, 107);
      left: 70%;
      
      transition-timing-function: ease
      
}


.container:hover > .caja:nth-child(4){
      background-color: rgb(41, 105, 107);
      left: 70%;
      
      transition-timing-function: ease-in
      
}


.container:hover > .caja:nth-child(5){
      background-color: rgb(41, 105, 107);
      left: 70%;
      
      transition-timing-function: ease-in-out
      
}


.container:hover > .caja:nth-child(6){
      background-color: rgb(41, 105, 107);
      left: 70%;
      
      transition-timing-function: ease-out
      
}

