body{
    font-family: 'Mulish', sans-serif;
}

:root{
    --primary: #00A388;
}

.form{

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.input{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}